@import "../../../styles/variables";

.loader {
  display: block;
  position: fixed;
  background: $white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  opacity: 0.8;

  .loader-inner {
    transform: translateY(-45%);
    top: 45%;
    position: absolute;
    width: 100%;
    color: #666;
    padding: 0 100px;
    text-align: center;

    label {
      font-size: 1em;
      opacity: 0;
      display: inline-block;
      padding: 0 10px;

      &:nth-child(5) {
        -webkit-animation: dots 3s 100ms infinite ease-in-out;
        animation: dots 3s 100ms infinite ease-in-out;
      }

      &:nth-child(4) {
        -webkit-animation: dots 3s 200ms infinite ease-in-out;
        animation: dots 3s 200ms infinite ease-in-out;
      }

      &:nth-child(3) {
        -webkit-animation: dots 3s 300ms infinite ease-in-out;
        animation: dots 3s 300ms infinite ease-in-out;
      }

      &:nth-child(2) {
        -webkit-animation: dots 3s 400ms infinite ease-in-out;
        animation: dots 3s 400ms infinite ease-in-out;
      }

      &:nth-child(1) {
        -webkit-animation: dots 3s 500ms infinite ease-in-out;
        animation: dots 3s 500ms infinite ease-in-out;
      }
    }
  }
}

@keyframes dots {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes dots {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}
