@import "../../../styles/variables";

.employee-card {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid $charcoal;
  border-radius: $border-radius;
  margin-bottom: 1.5em;
  cursor: pointer;

  &:hover {
    border-color: $westpac-red;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }

  &.employee-card-selected {
    background: $westpac-red;

    .employee-card-content {
      color: $white;
    }
  }

  .employee-card-image {
    width: 128px;
    height: 128px;

    img {
      border-right: 1px solid $charcoal;
      border-radius: 4px 0 0 4px;
    }
  }

  .employee-card-content {
    padding: 0.5em 0.75em;

    .employee-card-content-title {
      font-size: 1.1em;
    }
    .employee-card-content-excerpt {
      font-size: 0.9em;
    }
  }
}
