@mixin breakpoint($breakpoint) {
  @if $breakpoint == $bp-xs {
    @media (min-width: $bp-xs) {
      @content;
    }
  }
  @elseif $breakpoint == $bp-sm {
    @media (min-width: $bp-sm) {
      @content;
    }
  }
  @elseif $breakpoint == $bp-md {
    @media (min-width: $bp-md) {
      @content;
    }
  }
  @elseif $breakpoint == $bp-lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  } @else {
    @warn "No \"#{$breakpoint}\" breakpoint.";
  }
}
