@import "../../../styles/variables";
@import "../../../styles/mixins";

.employee-detail-backdrop {
  &.modal-backdrop {
    background-color: $white;
  }
}

.employee-detail {
  .modal-header {
    border: none;

    .close {
      color: $black;
      font-size: 3em;
      font-weight: normal;
      opacity: 1;

      &:focus {
        outline: none;
      }
    }
  }

  .modal-content {
    background-color: transparent;
    border: none;

    .modal-body {
      background-color: $white;
      border: 2px solid $black;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
  }

  .employee-detail-content {
    padding: 1em;

    @include breakpoint($bp-sm) {
      display: flex;
      flex-flow: row nowrap;
    }

    .employee-detail-content-info {
      display: flex;

      @include breakpoint($bp-sm) {
        display: block;
      }

      img {
        border: 2px solid $charcoal;
        margin-bottom: 1em;
      }

      .employee-detail-content-info-stats {
        padding-left: 1em;

        @include breakpoint($bp-sm) {
          padding-left: 0;
        }

        .job-title {
          font-weight: bold;
        }
      }
    }

    .employee-detail-content-description {
      @include breakpoint($bp-sm) {
        padding-left: 2em;
      }
    }
  }
}
